@font-face {
    font-family:'cloisterblack';
    src: url("/css/CloisterBlack.ttf"); 
}

body {
    margin: 60px auto;
    width: 75%;
}

h1 {
    font-size: 7em;
    font-family:'cloisterblack';
    color: #003300;
}

h2 {
    font-size: 3em;
    font-family: 'cloisterblack';
    color: #003300;
    margin: 70px auto;
}

table {
    margin: 70px auto;
    width: 85%;
    padding: 3px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}

thead {
    font-weight: bold;
    text-decoration: underline;
}

tr:hover {background-color: #f2f2f2;}

td {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333333;
   
}
