

/* Chapter number */
 .cn { display: block;
 font-size: small;
 text-align: center;
 margin-top: 20%;
 margin-bottom: .5em;
 margin-left: 0em;
 margin-right: 0em;
 text-indent: 0em;
 font-family: 'Garamond';
 }
 
 /* Chapter title */
     .ct, .ct-1 { display: block;
 font-size: 115%;
 letter-spacing: .35em;
 text-align: center;
 margin-top: .5em;
 margin-bottom: 6%;
 margin-left: 0em;
 margin-right: 0em;
 text-indent: 0em;
 font-family: 'Garamond', 'serif';
 }
 
 
 a {
    text-decoration: none;
    color: black;
}

/* Part */
.pt {
 display: block;
 font-size: 150%;
 letter-spacing: .35em;
 text-align: center;
 margin-top: 45%;
 margin-bottom: 6%;
 margin-left: 0em;
 margin-right: 0em;
 text-indent: 0em;
 font-family: 'Garamond', 'serif';
 }   
}
 
 /* First paragraph */
      .cotx { display: block;
 font-size: small;
 margin-top: 10em;
 margin-bottom: 0em;
 margin-left: 0em;
 margin-right: 0em;
 text-indent: 0em;
 }
 
 /* Body text */
 
 body {
    margin: 60px auto;
    width: 90%;
}
 
     p { display: block;
 font-size: small;
 font-family: 'Garamond', 'serif'; 
 margin-top: 0em;
 margin-bottom: 0em;
 margin-left: 0em;
 margin-right: 0em;
 text-indent: 1.5em;
 }
 
 h1 { display:block;
 font-size: small;
 font-family: 'Garamond', 'serif'; 
 font-weight: bold;
 margin-top: 1.5em;
 margin-bottom: 1.5em;
 margin-left: 0em;
 margin-right: 0em;
 text-align: center;
 line-height: 125%; 
 }
 
 h2 { display: block;
 font-size: small;
 text-align: center;
 margin-top: 1em;
 margin-bottom: 1em;
 margin-left: 0em;
 margin-right: 0em;
 text-indent: 0em;
 font-family: 'Garamond';
 font-style: italic;
 }
 
 /* Break in body text */
     .spb { display: block;
 font-size: small;
 margin-top: 2em;
 margin-bottom: 0em;
 margin-left: 0em;
 margin-right: 0em;
 text-indent: 1.5em;
 }
 
 /* Song formatting */
     .vext { display: block;
 font-size: small;
 margin-top: 0em;
 margin-bottom: 0em;
 margin-left: 4em;
 margin-right: 0em;
 text-indent: -5%;
 }

    .vex-t { display: block;
 font-size: small;
 margin-top: 0em;
 margin-bottom: 0em;
 margin-left: 5em;
 margin-right: 0em;
 text-indent: -5%;
 }
 
    .ve-xt { display: block;
 font-size: small;
 margin-top: 0em;
 margin-bottom: 0em;
 margin-left: 6em;
 margin-right: 0em;
 text-indent: -5%;
 }

    .v-ext { display: block;
 font-size: small;
 margin-top: 0em;
 margin-bottom: 0em;
 margin-left: 7em;
 margin-right: 0em;
 text-indent: -5%;
 }

    .vext1 { display: block;
 font-size: small;
 margin-top: 1.5em;
 margin-bottom: 0em;
 margin-left: 4em;
 margin-right: 0em;
 text-indent: -5%;

 }

    .vext-3 { display: block;
 font-size: small;
 margin-top: 0em;
 margin-bottom: 1.5em;
 margin-left: 4em;
 margin-right: 0em;
 text-indent: -5%;
 }

    .vext3 { display: block;
 font-size: small;
 margin-top: 0em;
 margin-bottom: 1.5em;
 margin-left: 5em;
 margin-right: 0em;
 text-indent: -5%;
 }

    .vext-4 { display: block;
 font-size: small;
 margin-top: 1.5em;
 margin-bottom: 1.5em;
 margin-left: 2em;
 margin-right: 0em;
 text-indent: 1.5em;
 }